<form action="/action_page.php">
  <div class="container">
    <h1>Cadastrar</h1>
    <p>Preencha os dados do insumo a ser cadastrado.</p>
    <hr>

    <label for="insumo"><b>Insumo</b></label>
    <input type="text" placeholder="Entre com a descrição do insumo" name="insumo" id="insumo" required>

    <label for="fornecedor"><b>Fornecedor</b></label>
    <input type="text" placeholder="Entre com o fornecedor do insumo" name="fornecedor" id="fornecedor" required>

    <button type="submit" class="registerbtn">Cadastrar</button>
  </div>
</form>
