.main_content {
  padding: 40px
}

.main_content_header{
  display: flex;
  justify-content: space-between;
}

.main_content_header .filter_form{
  display: flex;
  align-items: center;
}

.filter_form .field{
  padding: 5px;
  margin-right: 20px;
  border-radius: var(--radius-normal);
  border: 1px solid var(--font-color-header);
}

.filter_form .button{
  color: var(--color-default);
  background-color: var(--color-default);
  padding: 4px 8px;
  border-radius: var(--radius-normal);
}

.filter_form .button .icon{
  font-size: var(--font-medium);
  color: #ffffff;
  height: auto;
  width: auto;
  margin-top: 2px;
}

.create .button{
  background-color: var(--button-background-transparent-light);
  border: 1px solid var(--color-create-button);
  border-radius: var(--radius-normal);
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-create-button);
  padding: 5px 10px;
  cursor: pointer;
}

.create .button.form{
  border: 1px solid var(--color-create-button);
  color: var(--font-color-create-button);
}

.create .button.form:hover{
  background-color: var(--color-create-button);
}

.create .button:hover{
  background-color: var(--color-default);
  color:  #fff;
}

.create .button a {
  text-decoration: none;
  color: var(--font-color-create-button);
}

.create .button a:hover {
  text-decoration: none;
  color: #fff;;
}

.create .button .icon{
  height: auto;
  width: auto;
  font-size: var(--font-min);
  margin-right: 5px;
  margin-top: 1px;
}

.create .button .text{
  font-size: var(--font-small);
  font-weight: 600;
}

.main_content_display{
  margin-top: 30px;
}

.main_content_display .header{
  display: flex;
  padding: 10px 20px;
  font-size: var(--font-small);
  color: var(--font-color-header);
  margin-bottom: 10px;
}

.header .name{
  flex-basis: 40%;
}
.header .company{
  flex-basis: 20%;
  text-align: center;
}
.header .createdAt{
  flex-basis: 40%;
  text-align: center;
}

.main_content_display .item{
  display: flex;
  padding: 20px;
  background-color: var(--color-secondary);
  font-size: var(--font-small);
  position: relative;
}

.main_content_display .item:nth-child(odd){
  background-color: #fbfbfb;
}

.item .name{
  flex-basis: 30%;
}

.item .name .main{
  color: var(--font-color-create-button);
  text-decoration: none;
  font-weight: 600;
}

.item .name{
  flex-basis: 40%;
  text-align: start;
}
.item .company{
  flex-basis: 20%;
  text-align: center;
}
.item .createdAt{
  flex-basis: 40%;
  text-align: center;
}
.item .delete{
  position: absolute;
  right: 20px;
  padding: 0;
}
.item .delete > span{
  text-decoration: none;
  color: rgb(185, 79, 79);
}
.item .delete > span:hover {
  cursor: pointer;
}
.pagination_container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
