<div class="form-container">
  <h2>Cadastrar Insumos</h2>
  <form [formGroup]="formData" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="fornecedor">Id fornecedor:</label>
      <select formControlName="id_fornecedor">
        <option *ngFor="let suplier of supliers" value="{{ suplier.id }}" >
          {{ suplier.nome }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="company">Insumo</label>
      <input type="text" placeholder="Insumo" formControlName="nome_insumo"/>
    </div>
    <button type="submit" class="submit-button">Cadastrar</button>
  </form>
</div>
