<div class="dash">
  <aside class="dash_sidebar box-shadow" *ngIf="isOpen" [@sideMenu]>

    <article class="dash_sidebar_user">
      <p (click)="isOpen = !isOpen" class="close">X</p>
    </article>

    <ul class="dash_sidebar_nav">
      <li class="dash_sidebar_nav_item"><a class="icon-dashboard" [routerLink]="['/']">Dashboard</a>
      </li>
      <li class="dash_sidebar_nav_item "><a class="icon-users">Fornecedores</a>
        <ul class="dash_sidebar_nav_submenu">
          <li class=""><a [routerLink]="['/fornecedores']">Ver Todos</a></li>
          <li class=""><a [routerLink]="['/fornecedores/cadastrar']">Cadastrar novo</a></li>
        </ul>
      </li>
      <li class="dash_sidebar_nav_item "><a class="icon-book">Insumos</a>
        <ul class="dash_sidebar_nav_submenu">
          <li class=""><a [routerLink]="['/insumos']">Ver Todos</a></li>
          <li class=""><a [routerLink]="['/insumos/cadastrar']">Cadastrar novo</a></li>
        </ul>
      </li>
      <li class="dash_sidebar_nav_item "><a class="icon-wrench">Compradores</a>
        <ul class="dash_sidebar_nav_submenu">
          <li class=""><a [routerLink]="['/compradores']">Ver Todos</a></li>
          <li class=""><a [routerLink]="['/compradores/cadastrar']">Cadastrar novo</a></li>
        </ul>
      </li>
      <li class="dash_sidebar_nav_item "><a class="icon-book">Vendas</a>
        <ul class="dash_sidebar_nav_submenu">
          <li class=""><a [routerLink]="['/vendas']">Ver Todas</a></li>
          <li class=""><a [routerLink]="['/vendas/cadastrar']">Cadastrar nova</a></li>
        </ul>
      </li>
    </ul>
  </aside>

  <section class="dash_content">

    <div class="dash_userbar">
      <div class="dash_userbar_box">
        <div class="dash_userbar_box_content">
          <h1 class="transition">
            <mat-icon class="bx bx-menu" (click)="isOpen = !isOpen">menu</mat-icon>
          </h1>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>

  </section>
</div>
